{% load static %}

<div class="right-side lg:pr-4">
   {% include 'base/upload-form.html'%}

   <!-- profile -->

   <a href="#">
       <img src="{{request.user.profile.profile_image.url}}" class="header-avatar" alt="">
   </a>
   <div uk-drop="mode: click;offset:9" class="header_dropdown profile_dropdown border-t">
       <ul>
           <li><a href="{% url 'user_account' %}"> Account setting </a> </li>
           <li><a href="{% url 'user_profile' request.user.profile.id %}">Profile</a> </li>
           <li><a href="{% url 'logout_user' %}"> Log Out</a></li>
       </ul>
   </div>

</div>