{% extends 'main.html' %}
{% load static %}

{% block content %}
{% include 'base/sidebar.html'%}
        <div class="main_content">

            <header>
                <div class="header_inner">
                    <div class="left-side">
                        <!-- Logo -->
                        <div id="logo" class=" uk-hidden@s">
                            <a href="home.html">
                                <img src="{% static 'base/assets/images/logo-mobile.png' %}" alt="">
                                <img src="{% static 'base/assets/images/logo-mobile-light.png' %}" class="logo_inverse">
                            </a>
                        </div>

                        <div class="triger" uk-toggle="target: #wrapper ; cls: sidebar-active">
                            <i class="uil-bars"></i>
                        </div>

                    </div>
                    {% include 'base/navbar_right_side.html'%}
                </div>
            </header>
<div class="container pro-container m-auto">
                
    <!-- profile-cover-->
    <div class="flex lg:flex-row flex-col items-center lg:py-8 lg:space-x-8">

        <div>
            <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-1 rounded-full m-0.5 mr-2  w-56 h-56 relative overflow-hidden uk-transition-toggle">  
                <img src="{{profile.profile_image.url}}" class="bg-gray-200 border-4 border-white rounded-full w-full h-full dark:border-gray-900">

                <div class="absolute -bottom-3 custom-overly1 flex justify-center pt-4 pb-7 space-x-3 text-2xl text-white uk-transition-slide-bottom-medium w-full">
                    <a href="#" class="hover:text-white">
                        <i class="uil-camera"></i>
                    </a>
                    <a href="#" class="hover:text-white">
                        <i class="uil-crop-alt"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="lg:w/8/12 flex-1 flex flex-col lg:items-start items-center"> 

            <h2 class="font-semibold lg:text-2xl text-lg mb-2">{{profile.name}}</h2>
            <p class="lg:text-left mb-2 text-center  dark:text-gray-100"></p>
                <div class="flex font-semibold mb-3 space-x-2  dark:text-gray-10">
                    {% if profile.social_facebook %}<a href="{{profile.social_facebook}}">Facebook</a>{% endif %} {% if profile.social_linkedin %}<a href="{{profile.social_linkedin}}">Linkedin</a>{% endif %} {% if profile.social_twitter %}<a href="{{profile.social_twitter}}">Twitter</a>{% endif %}
                </div>
                <div class="flex font-semibold mb-3 space-x-2  dark:text-gray-10">
                    {% if profile.location %} {{profile.location}} {% endif %}
                </div>

                
                <div class="capitalize flex font-semibold space-x-3 text-center text-sm my-2">
                   {% if request.user.profile != profile %}
                   {% if profile not in request.user.profile.following.all %}
                   <a href="{% url 'following' request.user.profile.id profile.id %}" class="bg-gray-300 shadow-sm p-2 px-6 rounded-md dark:bg-gray-700"> Follow</a>
                   {% endif %}
                   {% if profile in request.user.profile.following.all %}
                   <a href="{% url 'unfollowing' request.user.profile.id profile.id %}" class="bg-pink-500 shadow-sm p-2 pink-500 px-6 rounded-md text-white hover:text-white hover:bg-pink-600"> Unfollow</a>
                   {% endif %}
                   {% endif %}
                    <div>
                    </div>

                </div>

                <div class="divide-gray-300 divide-transparent divide-x grid grid-cols-3 lg:text-left lg:text-lg mt-3 text-center w-full dark:text-gray-100">
                    <div class="flex lg:flex-row flex-col"> {{profile.post_set.all.count}} <strong class="lg:pl-2">Post{{profile.post_set.all.count|pluralize}}</strong></div>
                    <div class="lg:pl-4 flex lg:flex-row flex-col"> {{profile.followers.all.count}} <strong class="lg:pl-2">Follower{{profile.followers.all.count|pluralize}}</strong></div>
                    <div class="lg:pl-4 flex lg:flex-row flex-col"> {{profile.following.all.count}} <strong class="lg:pl-2">Following</strong></div>
                </div>

        </div>

        <div class="w-20"></div>

    </div>
  
    <h1 class="lg:text-2xl text-lg font-extrabold leading-none text-gray-900 tracking-tight mt-8"> Posts </h1>
    
    <div class="my-6 grid lg:grid-cols-5 grid-cols-3 gap-2 hover:text-yellow-700 uk-link-reset">
        {% for post in posts %}

        <a href="#story-modal-{{post.id}}" uk-toggle>
            <img src="{{post.image.url}}" alt="" class="w-full lg:h-60 h-40 rounded-md object-cover">
        </a>
        {% include 'base/story-modal.html' with post=post %}
        {% endfor %}
    </div>
    
    
{% endblock %}